$color: (
  primary: #fff,
  secondary: #61a5b0,
  tertiary: rgba(52, 157, 159, 0.583),
  text: rgb(39, 39, 39),
  other: #61a5b0d1,
  other1: rgb(138, 140, 138),
  other2: #78a4ab,
  other3: #4b939d,
  other6: #9aebf4,
);
