@use 'sass:map';
@use 'breakpoints' as *;

// Display Flex align, justify
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Container Mixin
@mixin container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

// MediaQuery Mixin
@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}
