@use 'sass:map';
@use '../components/buttons' as *;
@use '../abstracts/' as *;

.contact__container {
  @include container;
  padding: 2em;
  display: flex;
  flex-direction: row;

  > div {
    width: 100%;
  }

  .contact__left {
    display: flex;
    flex-direction: column;
    padding: 2em;

    h2 {
      font-weight: 500;
      font-size: map-get($fontSize, lg);
    }

    small {
      font-size: 0.7rem;
    }

    p {
      font-size: map-get($fontSize, md);
      font-weight: 400;
    }

    .contact__info {
      margin: 1.5em 0;

      > div {
        display: flex;
        align-items: center;
        height: 75px;
        border-radius: 10px;

        span {
          background: map-get($color, secondary);
          width: 2.5em;
          height: 2.5em;
          display: grid;
          place-items: center;
          font-size: 1.1rem;
          border-radius: 50px;

          img {
            width: 1em;
            height: 1em;
          }
        }

        ul {
          padding-left: 20px;
          li {
            list-style: none;
            font-size: 0.65rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  .contact__right {
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;

    .content {
      display: flex;
      flex-direction: column;
      width: inherit;

      h5 {
        font-weight: 600;
      }

      p {
        font-size: map-get($fontSize, sm);
        margin-bottom: 1em;
      }
    }
  }

  &.map {
    padding: 0 2em 1em;
    @include mq(medium-xs) {
      padding: 0;
    }

    iframe {
      width: 100% !important;
      height: 400px;
      border: 0;
      border-radius: 10px !important;
    }
  }
}

@include mq(medium) {
  .contact__container {
    flex-direction: column;
    gap: 2em;
    padding: 3em 0;
  }
}

@include mq(medium-xs) {
  .contact__left,
  .contact__right {
    padding: 0 1em !important;
  }

  iframe {
    height: 300px !important;
  }
}

@include mq(small) {
  iframe {
    height: 200px !important;
  }
}
