@use 'sass:map';
@use '../abstracts/' as *;

.service__container {
  @include container;
  color: map-get($color, text);
  min-height: 650px;
  padding: 6em 2em 4em;
  border-radius: map-get($bR, md);
  display: grid;
  grid-template-columns: 1fr 2fr;

  .service__left {
    height: inherit;
    border-radius: map-get($bR, md);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service__right {
    @include flex;
    flex-direction: column;
    padding: 0 2em;
    gap: 1.5em;

    h2 {
      font-weight: 500;
      font-size: map-get($fontSize, lg);
      margin-bottom: 1em;
    }

    p {
      font-size: map-get($fontSize, md);
      font-weight: 400;
    }

    .conditions {
      h4 {
        font-weight: 600;
        margin-bottom: 0.2em;
      }

      p {
        font-size: map-get($fontSize, sm);
        margin-bottom: 1em;
        font-weight: 400;
      }
    }
  }
}

@include mq(medium) {
  .service__container {
    grid-template-columns: 1fr;
    padding: 3em 0;

    .service__left {
      display: none !important;
    }
  }
}

@include mq(medium-xs) {
  .service__right {
    padding: 0 1em !important;
  }
}
